* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(243, 243, 243);
}

.modal {
  position: absolute;
  z-index: 99999;
  background-color: #00000081;
  width: 100vw;
  height: 100vh;
  display: flex;
  opacity: 0;
  pointer-events: none;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: #fff;
  width: 32vw;
  height: 80vh;
  position: relative;
}

.closeModal {
  width: 30px;
  background-color: rgb(255, 230, 0);
  padding: 5px 7px;
  border-radius: 50%;
  cursor: pointer;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.2s ease;
}

.forgotPassText {
  color: black;
}

.forgot-pass:hover .forgotpassWidthEffect {
  width: 100%;
}

.forgotpassWidthEffect {
  width: 0;
  transition: all 0.5s ease;
}

.closeModal:hover {
  background-color: rgb(255, 166, 0);
  transform: scale(1.1);
}

.closeModal img {
  width: 100%;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 30px;
}

.mf-title {
  font-weight: 400;
  font-size: calc(1.8vw + 1em);
  font-family: serif;
  margin-bottom: 10px;
}

.mf-subTitle {
  font-weight: 400;
  font-size: calc(0.5vw+1em);
  color: rgb(102, 102, 102);
}

.mf-input {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border: 1px solid rgb(211, 211, 211);
  padding: 10px 20px;
  font-size: calc(0.3vw + 0.8em);
}

.mf-input:focus {
  outline: 1px solid rgb(0, 0, 0);
  color: black;
  transition: all 0.4s ease;
}

.mf-input:focus::placeholder {
  color: black;
  opacity: 1;
}

.mf-btn {
  margin-top: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(0.2vw+0.4em);
  letter-spacing: 2px;
  width: 45%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mf-btn:hover {
  background-color: rgb(56, 56, 56);
}

.label-login {
  color: rgb(102, 102, 102);
  font-family: "Open Sans", sans-serif !important;
  font-size: 15px;
  margin-left: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif !important;
}

.forgot-pass {
  font-family: "Open Sans", sans-serif !important;
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}

.arrowFP {
  width: 20px;
  height: 80%;
  background-image: url("./img/derecho.png");
  background-size: cover;
  background-position: center;
  background-color: rgb(255, 230, 0);
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  text-transform: uppercase;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-resp {
  display: none;
}

.dropdown-wrapper {
  position: absolute;
  top: 30px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 16px 0px rgba(139, 139, 139, 0.109);
  font-weight: 400;
  height: 0;
  overflow: hidden;
}

.dropdown:hover .dropdown-wrapper {
  height: 200px;
}

.dropdown-wrapper a {
  display: block;
  padding-left: 20px;
  margin: 8px;
  text-transform: capitalize;
  font-size: 13px;
}

.forum,
.shop {
  width: 150px;
}

.recipes {
  width: 400px;
}

.dropdown-wrapper {
  -webkit-transition: height 0.19s ease-in;
  -moz-transition: height 0.19s ease-in;
  -o-transition: height 0.19s ease-in;
  -ms-transition: height 0.19s ease-in;
  transition: height 0.19s ease-in;
}

.dropdown-wrapper.recipes a:first-child {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.dropdown-wrapper.recipes a:first-child div {
  display: inline-block;
  border-radius: 50%;
  padding: 3px 6px;
  background-color: rgb(255, 208, 0);
}

.dropdown-wrapper.recipes a:first-child img {
  width: 20px;
  opacity: 0.9;
}

.logo {
  display: none;
}

.menu-ricon img {
  display: none;
}

ul li a {
  text-decoration: none;
  color: rgb(70, 70, 70);
}

ul li a:hover {
  color: rgb(59, 59, 59);
  cursor: pointer;
}

.nav-item {
  flex: 1;
}

.nav-item ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.sm ul {
  justify-content: center;
  font-size: 1vw;
}

.sm ul li {
  padding-right: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sm ul li:hover {
  color: rgb(143, 143, 143);
}

.menu {
  flex: 3;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  font-size: 0.9vw;
  letter-spacing: 1px;
  font-weight: 600;
}

.new i {
  color: rgb(255, 230, 0);
  font-size: 9px;
  position: absolute;
}

.name {
  font-size: 2vw !important;
  font-weight: 400 !important;
}

.log {
  font-size: 0.8vw;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgb(112, 112, 112);
  border-left: 1px solid white;
  padding: 7px 0;
}

.log ul li {
  cursor: pointer;
  transition: all 0.5s ease;
}

.menu-trigger-resp,
.close-resp-menu {
  display: none;
}

.log ul li:hover {
  color: rgb(37, 37, 37);
}

.landing-page {
  background-image: url("./img/h4-img-20.jpg");
  background-size: cover;
  background-position: center top;
  height: 80vh;
}

/* LANDING TEXT */

.landing-hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.landing-text {
  width: 60vw;
  padding-left: 200px;
}

.landing-text h1 {
  font-family: "Merriweather", serif;
  font-size: 50px;
  font-weight: 400;
  margin-top: 70px;
}

.landing-text p {
  color: rgb(100, 100, 100);
  margin-top: 20px;
  width: 80%;
  line-height: 2;
}

.testimonial {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.testimonial img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  object-fit: cover;
}

.test-info {
  margin-left: 15px;
}

.test-info {
  font-family: serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.test-info div {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
}

.test-info div:last-child {
  color: gray;
}

.buy-items {
  position: fixed;
  top: 40vh;
  right: 0;
  z-index: 100;
}

.buy-box {
  width: 115px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  position: -webkit-sticky;
  box-shadow: 0px 0px 8px rgb(190, 190, 190);
}

.buy-box img {
  height: 60%;
}

.buy-box span {
  color: white;
  text-transform: uppercase;
  font-size: calc(0.9vw + 0.2em);
  font-weight: 600;
  letter-spacing: 1px;
}

.related {
  background-color: #ef2853;
}

.buy {
  background-color: #fff;
  margin-top: 10px;
}

.buy span {
  color: black;
}

/* !!CTA */

.cta-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  height: 130px;
  align-items: center;
  justify-content: center;
}

.cta-title {
  font-size: calc(1em + 1vw);
  font-family: sans;
}

.cta-title span {
  font-family: serif;
  text-decoration: underline;
}

.cta-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;


}

.cta-wrapper .mf-input {
  margin-top: 0;
  width: 45%;
  margin-left: calc(0.4em + 1vw);
  height: 55px !important;
}

.cta-btn {
  width: 15%;
  text-transform: uppercase;
  font-size: calc(0.4em + 0.6vw);
  font-weight: normal;
  letter-spacing: 1px;
  height: 55px;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(0.4em + 1vw);
  cursor: pointer;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background-color: rgb(46, 46, 46);
}


/* !! 4 images food grid */
.fg-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;

  height: 500px;
}

.foodRow-card {
  width: 19vw;
  margin: 15px;
  min-width: 220px;
  max-width: 250px;
}

.foodRow-card div {
  cursor: pointer;

}

.foodRow-card .fr-info .info-item {
  display: flex;
  align-items: center;

}

.foodRow-card .fr-info .info-item img {
  width: calc(1em + 0.4vw);
  margin-right: 8px;
}

.fr-head img {
  width: 100%;
  height: 100%;
}

.fr-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: calc(0.4em + 0.4vw);
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px 0;
}

.fr-title {
  font-family: sans;
  font-size: calc(0.7em + 1.4vw);
}

/* !!MEDIAS QUERYS */

@media screen and (max-width: 1040px) {

  /* All screens LESS THAN 1000px (0-999px) */
  nav {
    background-color: #fff;
    position: static;
    height: 10vh;
    max-height: 70px;
    min-height: 70px;
    display: flex;
  }

  .logo {
    display: block;
    text-align: center;
    font-size: calc(1em + 1vw);
    color: rgb(54, 54, 54) !important;
    letter-spacing: 2px;
    flex: 4;
  }

  .logo a {
    text-decoration: none;
    color: rgb(54, 54, 54) !important;
  }

  .name {
    display: none;
  }

  .sm {
    display: none;
  }

  .menu {
    height: 100vh !important;
    width: 50vw !important;
    background-color: rgb(255, 255, 255);
    position: fixed;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0%;
    right: 0;
    box-shadow: 0px 0px 15px rgb(246, 246, 246);
    transition: all 0.5s ease;
    transform: translateX(50vw);
    z-index: 100;
  }

  .close-resp-menu {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    display: block;
  }

  .close-resp-menu img {
    height: 100%;
    width: 100%;
  }

  ul li a {
    color: rgb(29, 29, 29);
  }

  ul li a:hover {
    color: black;
  }

  .menu ul {
    margin-left: 50px;
    flex-direction: column;
    text-align: left;
    display: flex;
    align-items: baseline;
    height: 50%;
  }

  .menu ul li {
    flex: 1;
    font-size: 0.9em;
    text-align: left;
    color: white !important;
    font-weight: 600;
  }

  .menu-ricon img {
    display: block;
    height: 20px;
    width: 15px;
    position: absolute;
    right: -40px;
    top: 0;
  }

  .homeright img {
    height: 20px !important;
    width: 15px !important;
  }

  .dropdown-wrapper {
    display: none;
  }

  .dropdown:hover .dropdown-wrapper {
    height: 0;
  }

  .dropdown-resp {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    height: 0;
    overflow: hidden;
    width: 0;
    transition: all 0.3s ease;
  }

  .dropdown:hover .dropdown-resp {
    height: 130px;
    width: 130px;
  }

  .dropdown-resp a {
    color: rgb(82, 82, 82);
    font-size: 0.8em;
    margin: 9px 0;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .modalOpen span {
    display: none;
    font-size: 2em;
  }

  .log {
    font-size: 1em;
    flex: 2;
  }

  .menu-trigger-resp {
    flex: 0.5;
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
  }

  .menu-trigger-resp img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s ease;
  }

  .menu-trigger-resp img:hover {
    opacity: 1;
    transform: scale(1.2);
  }

  .landing-page {
    height: 100vh;
  }

  .landing-text {
    width: 80vw;
    padding-left: 100px;
    margin-top: -100px;
  }

  .landing-text h1 {
    margin-top: 0;
  }

  /* !!MODAL  */

  .modal-box {
    background-color: #fff;
    width: 55vw;
    height: 85vh;
    position: relative;
  }
}

@media (max-width: 799px) {
  /* All screens LESS THAN 800px (0-799px) */
}

@media (max-width: 599px) {
  /* All screens LESS THAN 600px (0-599px) */

  .buy-items {
    display: none;
  }

  /* !! Landing part */
  .landing-text {
    width: 90vw;
    padding-left: 30px;
    flex: 1;
    margin-top: 0;
  }

  .landing-text h1 {
    font-family: "Merriweather", serif;
    font-size: 45px;
    font-weight: 400;
    margin-top: 70px;
  }

  .landing-text p {
    color: rgb(32, 32, 32);
    margin-top: 20px;
    width: 80%;
    line-height: 2;
  }
}

@media (max-width: 470px) {
  /* All screens LESS THAN 440 (0-439px) */
  /* !!modal */

  .modal-box {
    background-color: #fff;
    width: 100vw;
    height: 85vh;
    position: relative;
  }
}